<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mvccompany</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CmpServlet</display-name>
    <servlet-name>CmpServlet</servlet-name>
    <servlet-class>edu.tinzel.mvccompany.servlet.CmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CmpServlet</servlet-name>
    <url-pattern>/cmpt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountryServlet</servlet-name>
    <servlet-class>edu.tinzel.mvccompany.servlet.CountryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CountryServlet</servlet-name>
    <url-pattern>/country</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Encodingfilter</display-name>
    <filter-name>Encodingfilter</filter-name>
    <filter-class>edu.tinzel.mvccompany.util.Encodingfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Encodingfilter</filter-name>
    <url-pattern>/Encodingfilter</url-pattern>
  </filter-mapping>
</web-app>